.cssModule {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 20px;
}

.f {
  color: blue;
}

.px {
  font-size: 120ipx;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #222;
  display: inline-block;
}