.main{
    border: 3px solid #222;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}
.name{
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #222;
    color: #fff;
    padding: 5px 10px;
}