@import "tailwindcss";
/* @import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
	}
}

@theme {
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));
} */