node_modules
yarn-error.log
dist
.DS_Store
yarn.lock
yarn-debug.lock
.pnpm-debug.log
projects/e-svga*
.idea
.emp-cache
@mf-types
.mf
.output
.release/
doc_build
.codegraph/

.rslib
.cursor/debug.log
.playwright-cli
.worktrees/
tmp/
