body{
    margin: 0;
    padding: 0;
}
.layout {
    .nav {
        background: #eee;
        padding: 10px 0;
        ul {
            display: flex;
            list-style: none;
            li {
                padding: 0 5px;
                a{
                    text-decoration: none;
                    color: #222;
										padding: 3px 8px;
                }
								a.actived{
									background: #222;
									color: #fff;
								}
            }
        }
    }

    .tags {
        span {
            background-color: #222;
            color: #fff;
            display: inline-block;
            margin: 2px;
            padding: 2px 5px;
        }
    }
    .content{
        padding: 20px;
    }
}
