/*
@font-face {
    font-family: "phoenix";
    src: url("../../../configs/font.ttf");
}*/
body{
    //font-family: "phoenix";
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
.ant-table-thead > tr > th{
    text-align: center;
    font: bold;
}
.ant-table-tbody > tr > td{
    text-align: center;
}


