
@import './custom';

.#{$bitmap-prefix-cls} {
  display: inline-block;
  overflow: hidden;
  border: transparent;
  position: relative;

  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;

  &-hover {
    cursor: pointer;
  }
  &-default {
    cursor: default;
  }
  &-hide {
    display: none;
  }
  &-a {
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
  &-back,
  &-face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: transparent;
  }
  &-back {
    z-index: 0;
  }
  &-face {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  &-img {
    cursor: pointer;
    border: none;
    outline: transparent;
  }

  &-img[src=''],
  &-img:not([src]) {
    opacity: 0;
  }
}

