.layout {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 1.5;
    margin: 10px 0;

    * {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
}