.container {
    padding: 10px;

    .nav {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;

        a {
            display: inline-block;
            text-decoration: none;
            color: #222;
            padding: 3px 8px;
        }

        a:hover,
        a:active,
        a.act {
            color: blue;
        }
    }

    .remoteComponent {
        h2 {
            color: #222;
            border-bottom: 1px solid #eee;
            font-weight: normal;
            padding-bottom: 10px;
        }
    }

    .component {
        border: 5px solid #eee;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }
}