.p1911 {
  color: blue;
}

.p1912 {
  color: yellow;
}

.item {
  border: 1px solid #eee;
  background: #f7f7f7;
  padding: 10px;
  margin: 10px;

  h2 {
    font-size: 12px;
  }

  h1 {
    font-size: 14px;
  }
}