.card {
    border: 1px solid #222;
    position: relative;
    padding: 0 !important;
    margin: 0 10px;

    
}

.title {
    background-color: #222;
    color: #eee;
    padding: 3px 8px;
    font-size: 12px;
    right: 0;
    position: absolute;

}

.tipsbox {
    position: relative;
    margin: 20px 10px 10px;
    padding: 10px;
    background-color: #f7f7f7;

    
}

span {
    font-size: 12px;
    position: absolute;
    right: 0;
    background-color: #222;
    color: #eee;
    padding: 3px 8px;
}

.cblue {
    color: #4B91F7;
}



/* CSS */
.button-10 {

    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}