* {
	font-family: "微软雅黑";
}
:root {
	--c-brand: #3700b3;
	--c-brand-light: #6200ee;
}
#main-title {
	font-size: 5rem !important;
}

.tagline {
	font-size: 1rem !important;
}

.release-tag {
	font-size: 0.6rem;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	top: 0;
	/* transform: translateY(-50%);  */
	padding: 6px;
	margin-left: 6px;
	background: var(--c-brand);
	color: white;
	border-radius: 3px;
}
.contact {
	text-align: center;
	margin-bottom: 30px;
}
.contact .footer {
	color: #999;
	font-size: 0.8rem;
}

.contact img {
	width: 150px;
}

.companiesWarp {
	margin: 0 auto;
	text-align: center;
}
.companies {
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	color: #425066;
}
.logoWarp {
  margin: -20px auto 30px auto;
}

.logo{
  height: 65px;
  margin: 10px 10px;
}

.baidu{
  height: 100px;
}

.yy{
  height: 50px;
}

.weride,.zhuiwan{
  height: 40px;
  margin:30px 10px;
}