.page-list{
  
  .table-tool-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    line-height: 64px;
  }
  .table-toolbar-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .table-toolbar-title {
    flex: 1 1;
    color: rgba(0,0,0,.85);
    font-size: 16px;
    line-height: 24px;
    opacity: .85;
  }
  .ant-table-thead > tr > th{
    text-align: center;
  }
}
.event-info-modal{
  margin-top: 200px;
}
