@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* 为避免污染全局，暂时关闭 Preflight 重置 */
/* @import "tailwindcss/preflight.css" layer(base); */

/* 仅在容器内生成并应用 Tailwind 实用类 */
@layer utilities {
	.tailwindcss-host-contaner {
		@tailwind utilities;
	}
}