body {
    .container {
        width: 100%;
        background-image: url(../public/logo.jpg);
    }
}

.nobodycontianer {
    width: 100%;
    background-image: url(../public/logo.jpg);
}

.title{
    font-size: 20px;
    font-weight: bold;
}